video{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 80%;
}

.App{
  text-align: center;
  background: #021111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin: 0 auto;
  /*background-size: 300px;*/
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 5px;
}

.head{
  width: 220px;
  margin: 30px auto;
}

h1{
  font-family: 'DM Sans', sans-serif;
  font-size: 26px;
  font-weight: 200;
  color: white;
  text-align: left;
  line-height: 30px;
  letter-spacing: 2px; 
}

.gradient{
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(to right, #9b11f7, #ec20b3);
  margin-left: 25px;
}

.container{
  width: 380px;
  margin: 5px auto;
}

.advice{
  background:linear-gradient(#450272,50%, #9c2b9c);
  border-top-left-radius: 40px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 40px;
  padding: 50px;
  background-size: 300px;
}

.advice-type{
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  text-align: center;
  line-height: 25px;
}

.btnform{
  margin: 200px auto 30px auto;
}

.btn{
  background: linear-gradient(to bottom right,#9900ff 10%, #c1379b);
  color: #ffffff;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  border: none;
  border-radius: 8px;
  padding: 10px 40px;
  cursor: pointer;
}

.btn:hover{
  background: #a51bc0;
}

.footer{
  background: #02110d;
  border-top: 6px solid #9900cc;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
}

.date{
	color: rgb(189, 184, 184);
	font-size: 16px;
  letter-spacing: .5px;
  font-family: 'DM Sans', sans-serif;
}

.ftext{
  color: rgb(189, 184, 184);
	font-size: 10px;
  letter-spacing: .5px;
  font-family: 'DM Sans', sans-serif;
}

@media all and (max-width: 500px) {
  .App {
    width: 240px;
  }
  .head{
    width: 200px;
  }
  .container {
    width: 220px;
  }
}

@media all and (max-width: 300px) {
  .App {
    width: 180px;
  }
  .head{
    width: 180px;
  }
  h1 {
    font-size: 20px;
  }
  .container {
    width: 180px;
  }
}